# Python

## Into

### About Python

ToDo

### Install Python

#### Windows

#### MacOS

#### Linux

## Prtint *Hello world* in Python

In [156]:
print("Hello world")

Hello world

## Variables

To temporarily store data, we can use variables. On the left side is name of the variable (for example: variable) and on the right side is value (for example: 14). In between is equal sign (=) that says *my_variable* holds the data of *14*

In [157]:
my_variable = 14
print(my_variable)

14

## Data types

Variables can hold different data types. In Python there are 4 main data types:
- String -> for text data
- Integer -> for numbers without decimal places
- Float -> for numbers with decimal places
- Boolean -> for boolean (True/False) values

In [158]:
my_String = "This is a string!"
print(my_String)
print(type(my_String))

This is a string!
<class 'str'>

In [159]:
my_Int = 42
print(my_Int)
print(type(my_Int))

42
<class 'int'>

In [160]:
my_Float = 4.20
print(my_Float)
print(type(my_Float))

4.2
<class 'float'>

In [161]:
my_Bool = True
print(my_Bool)
print(type(my_Bool))

True
<class 'bool'>

### Changing data types

It is common that data needs to be transformed from one type to the other in Python. In this section, we will demonstrate how this can be done.

#### Converting to strings

First, we create 4 variables with different data types.

In [162]:
string_string = "This is a string"
string_int = 5
string_float = 5.5
string_bool = False

Now we tell Python to convert each variable from X to string.

In [163]:
print(type(string_string))
string_string = str(string_string)
print(string_string)
print(type(string_string))

<class 'str'>
This is a string
<class 'str'>

In [164]:
print(type(string_int))
string_int = str(string_int)
print(string_int)
print(type(string_int))

<class 'int'>
5
<class 'str'>

In [165]:
print(type(string_float))
string_float = str(string_float)
print(string_float)
print(type(string_float))

<class 'float'>
5.5
<class 'str'>

In [166]:
print(type(string_bool))
string_bool = str(string_bool)
print(string_bool)
print(type(string_bool))

<class 'bool'>
False
<class 'str'>

As seen, Python has no problems transforming anything to the string. This does present some limitations. For example "4" and "4a" or " 4" are all valid strings. This is why you need to know your data types.

#### Converting to int

In [167]:
int_string_1 = "one"
int_string_2 = "4"
int_string_3 = "3.0"
int_int = 5
int_float = 5.7
int_bool_0 = False
int_bool_1 = True

Converting string to an int is possible. It just depends on the value. In first example, we can see that "one" cannot be transformed due to "one" not being a number.

In [168]:
print(type(int_string_1))
string_string = int(int_string_1)
print(int_string_1)
print(type(int_string_1))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'one'

Second example showcases how a string can hold value "4" which can be represented as int 4.

In [ ]:
print(type(int_string_2))
int_string_2 = int(int_string_2)
print(int_string_2)
print(type(int_string_2))

<class 'str'>
4
<class 'int'>

String with the value of "3.0" cannot be transformed to the integer by default. At the moment our string holds "3.0" which is a floating value. Later one we will showcase how to solve a problem like this.

In [ ]:
print(type(int_string_3))
int_string_3 = int(int_string_3)
print(int_string_3)
print(type(int_string_3))

<class 'str'>

ValueError: invalid literal for int() with base 10: '3.0'

Transforming int to int can be done without any problems.

In [ ]:
print(type(int_int))
int_int = int(int_int)
print(int_int)
print(type(int_int))

<class 'int'>
5
<class 'int'>

Transforming float value 5.5 to int is possible. The only thing is, we will lose data (everything after *.* is removed).

In [ ]:
print(type(int_float))
int_float = int(int_float)
print(int_float)
print(type(int_float))

<class 'int'>
5
<class 'int'>

Transforming boolean values to int is possible in Python. Value that is "False" is represented as 0 and "True" is represented as 1.

In [ ]:
print(type(int_bool_0))
int_bool_0 = int(int_bool_0)
print(int_bool_0)
print(type(int_bool_0))

<class 'int'>
0
<class 'int'>

In [ ]:
print(type(int_bool_1))
int_bool_1 = int(int_bool_1)
print(int_bool_1)
print(type(int_bool_1))

<class 'int'>
0
<class 'int'>

#### Converting to float

In [ ]:
float_string_1 = "one"
float_string_2 = "4"
float_string_3 = "3.0"
float_int = 5
float_float = 5.7
float_bool_0 = False
float_bool_1 = True

Converting string to a float is possible. It just depends on the value. In first example, we can see that "one" cannot be transformed due to "one" not being a number.

In [ ]:
print(type(float_string_1))
string_string = float(float_string_1)
print(float_string_1)
print(type(float_string_1))

<class 'str'>

ValueError: could not convert string to float: 'one'

Second example showcases how a string can hold value "4" which can be represented as float 4.0. As seen, .0 was added to the back.

In [ ]:
print(type(float_string_2))
float_string_2 = float(float_string_2)
print(float_string_2)
print(type(float_string_2))

<class 'str'>
4.0
<class 'float'>

String with the value of "3.0" can be transformed to the float the same way as "4" was above.

In [ ]:
print(type(float_string_3))
float_string_3 = float(float_string_3)
print(float_string_3)
print(type(float_string_3))

<class 'str'>
3.0
<class 'float'>

Transforming int to float can be done without any problems. As above, .0 is added to the end.

In [ ]:
print(type(float_int))
float_int = float(float_int)
print(float_int)
print(type(float_int))

<class 'int'>
5.0
<class 'float'>

Transforming float to float can be done without any problems as well.

In [ ]:
print(type(float_float))
float_float = float(float_float)
print(float_float)
print(type(float_float))

<class 'float'>
5.0
<class 'float'>

Transforming boolean values to int is possible in Python. Value that is "False" is represented as 0.0 and "True" is represented as 1.0.

In [ ]:
print(type(float_bool_0))
float_bool_0 = float(float_bool_0)
print(float_bool_0)
print(type(float_bool_0))

<class 'bool'>
0.0
<class 'float'>

In [ ]:
print(type(float_bool_1))
float_bool_1 = float(float_bool_1)
print(float_bool_1)
print(type(float_bool_1))

<class 'float'>
1.0
<class 'float'>

#### Converting to boolean

In [ ]:
bool_string_0 = "This is a string"
bool_string_1 = "False"
bool_string_2 = "false"
bool_string_3 = "True"
bool_int_0 = 5
bool_int_1 = 0
bool_int_2 = 1
bool_float_0 = 5.5
bool_float_1 = 0.0
bool_float_2 = 1.0
bool_bool_0 = False
bool_bool_1 = True

Converting string to the boolean in Python will always return *True*. This is due to Python thinking "okay this is a string". To overcome this problem, you need to do comparison (does string X equal bool, if so do Y). This will be covered later.

In [ ]:
print(type(bool_string_0))
bool_string_0 = bool(bool_string_0)
print(bool_string_0)
print(type(bool_string_0))

<class 'str'>
True
<class 'bool'>

In [ ]:
print(type(bool_string_1))
bool_string_1 = bool(bool_string_1)
print(bool_string_1)
print(type(bool_string_1))

<class 'str'>
True
<class 'bool'>

In [ ]:
print(type(bool_string_2))
bool_string_2 = bool(bool_string_2)
print(bool_string_2)
print(type(bool_string_2))

<class 'str'>
True
<class 'bool'>

In [ ]:
print(type(bool_string_3))
bool_string_3 = bool(bool_string_3)
print(bool_string_3)
print(type(bool_string_3))

<class 'str'>
True
<class 'bool'>

Converting int to bool is tricky. If a number is 0, then it will be *False*. Otherwise, it will always (even for negative numbers) be *True*

In [ ]:
print(type(bool_int_0))
bool_int_0 = bool(bool_int_0)
print(bool_int_0)
print(type(bool_int_0))

<class 'int'>
True
<class 'bool'>

In [ ]:
print(type(bool_int_1))
bool_int_1 = bool(bool_int_1)
print(bool_int_1)
print(type(bool_int_1))

<class 'int'>
False
<class 'bool'>

In [ ]:
print(type(bool_int_2))
bool_int_2 = bool(bool_int_2)
print(bool_int_2)
print(type(bool_int_2))

<class 'bool'>
False
<class 'bool'>

Converting float to boolean is the same as with int.

In [ ]:
print(type(bool_float_0))
bool_float_0 = bool(bool_float_0)
print(bool_float_0)
print(type(bool_float_0))

<class 'float'>
True
<class 'bool'>

In [ ]:
print(type(bool_float_1))
bool_float_1 = bool(bool_float_1)
print(bool_float_1)
print(type(bool_float_1))

<class 'float'>
False
<class 'bool'>

In [ ]:
print(type(bool_float_2))
bool_float_2 = bool(bool_float_2)
print(bool_float_2)
print(type(bool_float_2))

<class 'float'>
True
<class 'bool'>

Converting bool to bool in Python can be done without any problems.

In [ ]:
print(type(bool_bool_0))
bool_bool_0 = bool(bool_bool_0)
print(bool_bool_0)
print(type(bool_bool_0))

<class 'bool'>
False
<class 'bool'>

In [ ]:
print(type(bool_bool_1))
bool_bool_1 = bool(bool_bool_1)
print(bool_bool_1)
print(type(bool_bool_1))

<class 'bool'>
True
<class 'bool'>

## Lists

## Loops

## Functions